@model IEnumerable<ECommerce.Common.Models.DisbursedLoan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowedCapital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedCapital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.DisbursedLoanId }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.DisbursedLoanId })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.DisbursedLoanId })*@
            </td>
        </tr>
    }

</table>
