@model IEnumerable<ECommerce.Common.Models.MainWarehouse>

@{
    ViewBag.Title = "MainWarehouse";
}

    <h2>MainWarehouse</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { },new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MainWarehouseId },new { @class="btn btn-warning"})
            @Html.ActionLink("Details", "Details", new { id=item.MainWarehouseId },new { @class="btn btn-info"})
            @Html.ActionLink("Delete", "Delete", new { id=item.MainWarehouseId },new { @class="btn btn-danger"})
        </td>
    </tr>
}

</table>
