@model IEnumerable<ECommerce.Common.Models.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pettycash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrativeexpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renewedcredit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pettycash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrativeexpense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renewedcredit)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.InventoryId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.InventoryId })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.InventoryId })*@
        </td>
    </tr>
}

</table>
