@model ECommerce.Common.Models.CollectionTmp

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.WarehouseId)
        @Html.HiddenFor(model => model.DisbursedLoanId)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.LoanStateId)
        @Html.HiddenFor(model => model.CollectionDate)
        @Html.HiddenFor(model => model.Payment)
        @Html.HiddenFor(model => model.CurrentBalance)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "BTN BTN-PRIMARY" })
            </div>
        </div>
    </div>
}
