@model ECommerce.Common.Models.CollectionTmp

@{
    ViewBag.Title = "Guardar descargo";
}

    <h2>Guardar descargo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.WarehouseId)
        @Html.HiddenFor(model => model.DisbursedLoanId)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.LoanStateId)
        @Html.HiddenFor(model => model.CollectionDate)
        @Html.HiddenFor(model => model.Payment)
        @Html.HiddenFor(model => model.CurrentBalance)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar descargo" class="btn btn-success" />
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "BTN BTN-PRIMARY" })
            </div>
        </div>
    </div>
}
